<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>FoodYum</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/jquery-ui.css">				
			<link rel="stylesheet" href="css/nice-select.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
 <link href="css/style.css" rel="stylesheet">			
			<link rel="stylesheet" href="css/main.css">
		</head>
		<body style="background:url(img/bg3.jpg);background-repeat:no-repeat;background-size:cover;">	
			<header id="header">
				<div class="header-top">
					<div class="container">
				  		<div class="row justify-content-center">
						      <div id="logo">
						        <h3 style="color:white"> FoodYum </h3>
						      </div>
				  		</div>			  					
					</div>
				</div>
				<div class="container main-menu">
					<div class="row align-items-center justify-content-center d-flex">			
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				         <li><a href="#view_orders">View Orders</a></li>
				         <!-- <li><a href="about.html">About</a></li> -->
				          <li><a href="#update">Update Menu</a></li>
				          <li><a href="#feedback">View Feedback</a></li>
				         				         		          		          
				          
				        </ul>

				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->
<div id="view_orders">

                                    <table class="table" style=" margin-top:13%;font-family: 'Righteous', cursive;">
                                        <thead >
                                        <tr >
                                            <th style="color:white">Customer</th>
                                            <th style="color:white;font-family: 'Righteous', cursive;">Order ID</th>
                                            <th style="color:white;font-family: 'Righteous', cursive;">Menu Name</th>
                                            <th style="color:white">Price</th>
                                            <th style="color:white">Franchise</th>
                                            <th style="color:white">Quantity</th>
                                            <th style="color:white">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Nidhi Mittal</td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">#8546677</td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Dosa</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.80</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Square one</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">2</button></td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Paid</button></td>
                                        </tr>

                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Kriti Garg</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">#8546678</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Pav Bhaji</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.80</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Square one</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">2</button></td>
                                            <td><button type="button" class="btn btn-warning btn-rounded">Pending</button></td>
                                        </tr>

                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Kartik Attri</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">#8546679</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Grilled Sandwich</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.50</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Square one</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">1</button></td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">Failed</button></td>
                                        </tr>

                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Sidharth</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">#8546680</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Peri Peri fries</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.110</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Burgrill</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">1</button></td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Paid</button></td>
                                        </tr>

                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Kartik Grover</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">#8546681</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Panini</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.50</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">TQ</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">1</button></td>
                                            <td><button type="button" class="btn btn-warning btn-rounded">Pending</button></td>
                                        </tr>

                                     


                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Sahil Khullar</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">#8546683</td>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Garden Delight</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.85</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Lapinoz</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">1</button></td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Paid</button></td>
                                        </tr>



                                        <tr>
                                            <td  style="color:white;font-family: 'Righteous', cursive;">Lokesh</td>
                                            <td style="color:white">#8546685</td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">Cold Blue</td>
                                            <td><button type="button" class="btn btn-success btn-rounded">Rs.150</button></td>
                                            <td style="color:white;font-family: 'Righteous', cursive;">TQ</td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">3</button></td>
                                            <td><button type="button" class="btn btn-primary btn-rounded">Failed</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
</div>
<div id="update" style="margin-top:5%;margin-left:10%;margin-right:10%; background-color:white;border: 5px solid white;padding:  0em 1em;
    border-radius: 20px;box-shadow: 10px 10px grey;">
<div class="menu-upload-form">
										<form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Upload Item</label>
                                            <div class="col-sm-10">
                                                <div class="form-control file-input dark-browse-input-box">
                                                    <label for="inputFile-2">
                                                                <span class="btn btn-danger dark-input-button">
                                                                    <input type="file" id="inputFile-2" onchange="this.parentNode.parentNode.nextElementSibling.value = this.value">
                                                                    <i class="fa fa-file-archive-o"></i>
                                                                </span>
                                                    </label>
                                                    <input class="file-name input-flat" type="text" readonly="readonly" placeholder="Browse Files">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Item Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Type your menu Title">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Item Franchise</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="3" placeholder="Type franchise name"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Item Price</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Rs00.00">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-lg btn-primary">Upload</button>
                                            </div>
                                        </div>
                                    </form>
									</div>


</div>

<div id="feedback" style="margin-top:5%;margin-bottom:5%;margin-left:10%;margin-right:10%; background-color:white;border: 5px solid white;padding:  0em 1em;border-radius: 20px;box-shadow: 10px 10px grey;">

<div class="recent-meaasge">
									<div class="media">
										<div class="media-left">
											<a href="#"><img class="media-object" src="assets/images/avatar/1.jpg" alt="..."></a>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Saiful Islam</h5>
											<div class="meaasge-date">15 minutes Ago</div>
											<p>We are happy about your service </p>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#"><img class="media-object" src="assets/images/avatar/2.jpg" alt="..."></a>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Ishrat Jahan</h5>
											<div class="meaasge-date">40 minutes ago</div>
											<p>Quick service and good serve </p>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#"><img class="media-object" src="assets/images/avatar/3.jpg" alt="..."></a>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mr. Saifun</h5>
											<div class="meaasge-date">1 hour ago</div>
											<p>Really tasty reciepe </p>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
											<a href="#"><img class="media-object" src="assets/images/avatar/3.jpg" alt="..."></a>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mr. Saifun</h5>
											<div class="meaasge-date">1 minutes ago</div>
											<p>We like your birthday cake </p>
										</div>
									</div>
									<div class="media no-border">
										<div class="media-left">
											<a href="#"><img class="media-object" src="assets/images/avatar/2.jpg" alt="..."></a>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Ishrat Jahan</h5>
											<div class="meaasge-date">40 minutes ago</div>
											<p>Quick service and good serve </p>
										</div>
									</div>
								</div>
							</div><!-- /# card -->
						</div><!-- /# column -->


</div>


<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="js/jquery-ui.js"></script>					
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>						
			<script src="js/jquery.nice-select.min.js"></script>					
			<script src="js/owl.carousel.min.js"></script>			
            <script src="js/isotope.pkgd.min.js"></script>								
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script> 
</body>
</html>
                                
		





