<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/cart.css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

<title> FoodYum</title>
</head>
<body>
<div class="header">
  <h1 style="color:white;font-family: 'Gloria Hallelujah', cursive;">
    Your cart
  </h1>
</div>
<div class="cart-container">
  <div class="empty" style="display:none">
    No more twinkies ! 
  </div>
  <ul class="cart">
    <li class="product" data-price="4.9" data-quantity="2">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/sidebar-cupcake.png" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            Cupcake
          </div>
          <div class="product-price">
            $ 4.90
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x2
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
    <li class="product" data-price="3.5" data-quantity="1">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/ponytails-coffee-time-coffee-cup3.png" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            Coffee
          </div>
          <div class="product-price">
            $ 3.50
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x1
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
    <li class="product" data-price="5.7" data-quantity="3">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/Chocolate.png" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            Chocolate
          </div>
          <div class="product-price">
            $ 5.70
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x3
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
    
    <li class="product" data-price="1.8" data-quantity="3">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/croissant-psd49504.png" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            French Croissant
          </div>
          <div class="product-price">
            $ 1.80
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x3
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
    

    <li class="product" data-price="2.5" data-quantity="1">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/millefeuille-vanille.jpg" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            Mille-feuille
          </div>
          <div class="product-price">
            $ 12.90
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x1
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
    <li class="product" data-price="9.9" data-quantity="1">
      <div class="product-preview">
        <div class="thumbnail">
          <img class="image" src="https://s.cdpn.io/24822/tarte-au-citron.jpg" />
        </div>
        <div class="product-paper">
          <div class="product-name">
            Lemon Pie
          </div>
          <div class="product-price">
            $ 9.90
          </div>
        </div>
      </div>
      <div class="product-quantity">
        x1
      </div>
      <div class="product-interactions">
        <div class="button plus">
          +
        </div>
        <div class="button minus">
          -
        </div>
        <div class="button del"></div>
      </div>
    </li>
  </ul>
</div>
<table class="bill">
  <tr class="subtotal">
    <td class="label">
      Subtotal :
    </td>
    <td class="value">
      $ 71.90
    </td>
  </tr>
  <tr class="salestax">
    <td class="label">
      Sales tax : 
    </td>
    <td class="value">
      $ 3.60
    </td>
  </tr>
  <tr>
    <td class="label">
      Shipping :
    </td>
    <td class="value">
      $ 5.00
    </td>
  </tr>
  <tr class="total">
    <td class="label">
      Total :
    </td>
    <td class="value">
      $ 80.50
    </td>
  </tr>
</table>
<div class="actions">
  <div class="big-button go">
    Get them !
  </div>
</div>
<div class="actions">
  <div href="menu.html" class="big-button return">
    Return to shop
  </div>
</div>
</body>
</html>
