<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Food App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico">
		<script src="javascripts/jquery.min.js"></script>
		<link href="stylesheets/auto-slideshow.css" rel="stylesheet">
        <style>

h2, h4 {
	color: white;
}
    .navbar-no-margin {
	    margin-bottom: 0!important;
    }

    
* {
	box-sizing: border-box
}

    body {
	    font-family: Verdana, sans-serif;
    }

    #hover:hover {
	    cursor: pointer;
    }

	</style>
	</head>

	<body class="backimg">
		<nav class="navbar navbar-inverse navbar-no-margin">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">Food Yum</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/menu">Menu</a></li>
					</ul>
					<form id="navBarSearchForm" class="navbar-form navbar-left" style="margin-left:20%" autocomplete="off">
						<div class="input-group" style="width:200%">
							<input type="text" id="search" class="form-control" placeholder="Search">
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/register" id="hover"> <span><img src="img/user.png"></span> Sign Up</a>
						</li>
						<li><a href="/login" id="hover"><span><img src="img/login.png"></span> Log In </a></li>
					
					</ul>
				</div>
			</div>
			</div>
		</nav>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="img/img1.jpg" style="width:100%; max-height:550px">
			</div>
			<div class="mySlides fade">
				<img src="img/img2.jpg" style="width:100%; max-height:550px">
			</div>
			<div class="mySlides fade">
				<img src="img/img3.jpg" style="width:100%; max-height:550px">
			</div>
		</div>
		<br>
		<div style="text-align:center">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>

		<script type="text/javascript">
var slideIndex = 0;

function showSlides() {
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("dot");
	for (i = 0; i < slides.length; i++) {
		slides[i].style.display = "none";
	}
	slideIndex++;
	if (slideIndex > slides.length) {
		slideIndex = 1
	}
	for (i = 0; i < dots.length; i++) {
		dots[i].className = dots[i].className.replace(" active", "");
	}
	slides[slideIndex - 1].style.display = "block";
	dots[slideIndex - 1].className += " active";
	setTimeout(showSlides, 4000); // Change image every 4 seconds
}
showSlides();

		</script>

	</body>

</html>
