<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food App</title>
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/jumbotron-narrow.css" rel="stylesheet">
		<link href="stylesheets/styles.css" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico">
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
	</head>


	<body>
		<div class="container">
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation" ><a href="/home">Home</a></li>
						<li role="presentation" class="active"><a href="#">Log In</a></li>
						<li role="presentation" ><a href="/register">Sign Up</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">FoodYum</h3>
			</div>


			<div class="jumbotron">
				<h2 id="sign-up">Log In</h2>

				<form style="margin-top: 25px; margin-bottom: 25px">
					<div class="form-group row required">
						<div class="col-sm-2"></div>
						<label for="Email" class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="col-sm-2"></div>
					</div>

					<div class="form-group row required">
						<div class="col-sm-2"></div>
						<label for="password"  class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-5">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<div class="col-sm-2"></div>
					</div>
				</form>
				<p>
				<h5 style="text-align: center;">
					Still not connected?  
					<u><a href="/register" >Sign Up</a></u>
				</h5>
				</p>
			</div>
			<footer class="footer">
				<p>&copy; FoodYum 2018</p>
			</footer>
		</div>
	</body>
	
</html>
